management:
  server:
    port: 9001
  endpoints:
    web:
      base-path: /manage
      exposure:
        include: health,info

spring:
  cache:
    type: caffeine
    cache-names: githubUserSummary
    caffeine:
      spec: maximumSize=1000, expireAfterWrite=60m